#headshot {
	height: 235px;
	width: 235px;
	border-radius: 100%;
	margin-top: -160px;
	z-index: 10 !important;
	position: relative;
	margin-bottom: 50px;
}

.text {
	text-align: left;
}

#container {
	margin-top: 30px;
}

#container .mix{
    display: none;
}

.btn {
	margin-right: 10px;
	margin-bottom: 10px;
}

.projectpic {
	height: 300px;
}

#contact ul p {
	color: white;
}

#secondp {
	margin-top: -15px;
}

#work .container {
	text-align: center;
}

.skills {
	margin-bottom: 40px;
}


/*SPECIALCOLLORSSSSSSSS*/

#button1::first-letter {
	color: #00BCD4 !important;
}

#button1:focus:first-letter, #button1:hover:first-letter {
	color: white !important;
}

#button2::first-letter{
	color: #FFEB3B !important;
}

#button2:focus:first-letter, #button2:hover:first-letter {
	color: white !important;
}

#button3::first-letter{
	color: #FF5722 !important;
}

#button3:focus:first-letter, #button3:hover:first-letter {
	color: white !important;
}

#button4::first-letter{
	color: #4CAF50 !important;
}

#button4:focus:first-letter, #button4:hover:first-letter {
	color: white !important;
}

#button5::first-letter{ 
	color: #9C27B0 !important;
}

#button5:focus:first-letter, #button5:hover:first-letter {
	color: white !important;
}


/*END OF COLLORSSSSSSSSSSSSSSSS BUTTONSSSSSSSSSSSSSSSSSS*/

/*COLORSSSSSSS*/

#blue {
	color: #3F51B5 !important;
}

#red {
	color: #F44336 !important;
}

#yellow {
	color: #FFEB3B !important;
}

#green {
	color: #4CAF50 !important;
}

#orange {
	color: #FF5722 !important;
}

#brown {
	color: #795548 !important;
}

#light_blue {
	color: #00BCD4 !important;
}

#purple {
	color: #9C27B0 !important;
}

/*COLLORSSSSSS WHEN HOVERING*/

#blue:hover {
	color: #303F9F !important;
}

#red:hover {
	color: #D32F2F !important;
}

#yellow:hover {
	color: #FBC02D !important;
}

#green:hover {
	color: #388E3C !important;
}

#orange:hover {
	color: #F57C00 !important;
}

#brown:hover {
	color: #5D4037 !important;
}

#light_blue:hover {
	color: #0097A7 !important;
}

#purple:hover {
	color: #7B1FA2 !important;
}

/*END OF COLLORSSSSSSSSSSSSSSSS*/

/*COLORSSSSSSS BUTTONSSSSSSSS*/

#button1 {
	color: white !important;
}

#button2 {
	color: white!important;
}

#button3 {
	color: white !important;
}

#button4 {
	color: white !important;
}

#button5 {
	color: white !important;
}

/*COLLORSSSSSS BUTTONSSSSS WHEN HOVERING*/

#button1:hover, #button1:focus {
	background-color: #0097A7 !important;
	color: white !important;
}

#button2:hover, #button2:focus {
	background-color: #FBC02D !important;
	color: white !important;
}

#button3:hover, #button3:focus {
	background-color: #F57C00 !important;
	color: white !important;
}

#button4:hover, #button4:focus {
	background-color: #388E3C !important;
	color: white !important;
}

#button5:hover, #button5:focus {
	background-color: #7B1FA2 !important;
	color: white !important;
}

.btn {
	background-color: black !important;
}


/*END OF SPECIALLLLLLLLLL COLLORSSSSSSSSSSSSSSSS*/

.right {
	text-align: center;
}

.header5 {
	background-color: black;
	color: white;
	min-height: 50px;
	display: table; 
	min-width: 100%;
	margin-bottom: 50px;
}

.header5 h5 {
	display: table-cell; 
  	vertical-align: middle; 
  	text-align: center;
  	padding: 20px; 
}

.text_h {
	padding: 0px !important;
}

.footer-copyright {
	padding-bottom: 280px !important;
}

.card-reveal {
	text-align: left !important;
}

#space {
	margin-bottom: 40px;
}

#work .row .ligh



